.page-body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
li {
  list-style-type: none;
  /* Убираем маркеры */
}
li :hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
